{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Verify Email</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1 class="header">Carlsberg Staking</h1>

        {% if messages %}
          <ul>
            {% for message in messages %}
              <p> {{ message }}</p>
            {% endfor %}
          </ul>
        {% else %}
          <p class="info">Enter your email to receive a password reset OTP.</p>
        {% endif %}

        <div class="auth__logins">
          <form method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required />
            <button type="submit">Send OTP</button>
          </form>

          <div class="footer">
            <p>Already registered? <a href="{% url 'login' %}">Login</a></p>
            <h4><a href="{% url 'register' %}">Sign Up</a></h4>
          </div>
        </div>
      </div>
    </div>
  </body>
   <script src="//code.jivosite.com/widget/Bi2zIf0O8h" async></script>
</html>
