# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Django
db.sqlite3
media/
staticfiles/
.env

# Pipenv / Virtualenv
Pipfile.lock
venv/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
